<!doctype html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>Home - PentaLedger</title>
</head>
<body>
<header>
<h1><a href='/'>PentaLedger</a></h1>
</header>
<main>
    <h2>TBD.</h2>
    <p>Awesome stuff here in the future.</p>
</main>
<footer>Powered by <a href='https://golang.org/'>Go</a></footer>
</body>
</html>
